$color-bg:#F5F2EB;
$color-point:#0A34A2;
$color-content:#F2F1ED;

.wrap {
    width: 100%;
    background: $color-bg;
}

.header{position: fixed; top:0; left: 0; z-index: 900; width: 100%; box-sizing: border-box; box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1); 
    .header-inner{width: 1500px; margin: 0 auto; height: 96px; display: flex; align-items: center; justify-content: space-between; position: relative;
        .logo{width: 147px; font-size: 19px;}
        .nav{display: block; width: calc(100%-147px); 
            .navmenu{display: flex; justify-content: right; align-items: center;
                li{font-size: 19px; padding-right: 68px; cursor: pointer; 
                    span.active{ position: relative;}
                    span.active::before {content: ""; display: block; width: 6px; height: 6px; position: absolute; top: -10px; left: 50%; transform: translateX(-50%); border-radius: 50%; background: $color-point;}
                }
            }
        }
        .nav-icon{display: inline-block; width: 24px; cursor: pointer; position: absolute; top: 50%; right: 10px; z-index: 100; transform: translateX(-50%);
            span{background-color: #000; content: ""; display: block; height: 2px; margin: 5px 0px; transition: all 0.2s ease-in-out 0s;}
        }
    }
}

.container{position:relative; overflow: hidden; height: 100%; 
    .main-visual{height: 857px; position: relative; width: 100%;
        .visual{width: 1500px; height: 100%; margin: 0 auto;
            .bg{background-image: url(../images/mainVisual2.jpeg); background-repeat: no-repeat; background-position: right center;}
        }
        .layout{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);width: 100%; max-width: 1500px; margin: 0 auto;
            .main-tit{
                span{font-size: 2rem; padding-bottom: 1rem; display: inline-block;}
                h2{font-size: 5rem; 
                    strong{font-weight: 600;}
                }
            }
        }
    }

    .about{background-color: $color-content;}
}

